{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "browser": false
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "single"]
  }
}
